.container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px; /* mb: 2 */
}

.bubble {
  padding: 16px; /* p: 2 */
  max-width: 70%;
  border-radius: 16px; /* borderRadius: 2 */
  border-top-left-radius: 0;
  display: flex;
  gap: 8px; /* gap: 1 */
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
