.container {
  width: 100%;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #475569;
}

.infoItem svg {
  color: #64748b;
}

.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
