.tabPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.tabContent {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: calc(100vh - 250px);
}

@media (max-width: 600px) {
  .tabContent {
    padding: 16px;
    height: calc(100vh - 200px);
  }
}
